body {
    margin: 0;
    padding: 0;
    min-height: 100hv;
    background-color:aqua;
}


.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: warp;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
    -webkit-text-fill-color: rgb(255, 0, 0);
    position: relative;
    flex: 1;
    margin: 2px;
    height: 80px;
    max-width: edge;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);

}

button {
    background-color: rgba(164, 6, 179, 15%);
    padding: 8px 10px;
    border-radius: 10px;
    margin: 5px;
    margin-left: 5px;
    size: 20px;
    cursor: pointer;
    transition: 150ms;
}

button:hover{
    a[href]{
        color: black;
    }
    scale: 1.2;
    background-color: aliceblue;
}

a[href] {
    color: aqua;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 21%, rgba(0,212,255,1) 57%, rgba(7,6,93,1) 100%);
    -webkit-text-fill-color: rgb(255, 0, 0);
    position: relative;
    flex: 1;

    height: 50px;
    max-width: edge;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
    -webkit-text-fill-color: rgb(255, 0, 0);
    position: relative;
    flex: 1;
    margin: 2px;
    margin-right: 5px;
    height: 580px;
    max-width: 260px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
    -webkit-text-fill-color: rgb(255, 0, 0);
    position: relative;
    flex: 1;
    margin: 2px;
    margin-left: 8px;
    height: 580px;
    max-width: 1760px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
    -webkit-text-fill-color: rgb(255, 0, 0);
    position: relative;
    flex: 1;
    margin: 2px;
    height: 80px;
    max-width: edge;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}